nav {
    padding: 10px;
    margin : 20px 200px 0 200px;
    text-align: center;
    border: #333 2px solid;
    border-radius: 10px;
}


.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav:hover {
    background-color: #f0f0f0;
}

#box {
    width: 150px;
    height: 150px;
    border: 2px solid #333;
    text-align: center;
    line-height: 150px;
    font-size: 20px;
    background-color: red;
    transition: background-color 1s ease;
}

#box:hover {
    background-color: green;
}




#circle {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border: 2px solid #333;
    background-color: blue;
    border-radius: 50%;


    animation-name : moveCircle;
    animation-duration : 1s;
    animation-iteration-count : infinite;
    animation-timing-function : linear;
    animation-direction: normal;
}

@keyframes moveCircle {
    0% {transform : translateX(0px);}
    50% {transform : translateX(150px);}
    100% {transform : translateX(300px);}
}


#circle-para {
    margin : 75px;
    text-align: center; 
}





